/* Establishes the font face in use.

<p>This will be in Raleway.</p>

<h1 class="header">This will also be in Raleway.</h1>
*/

body {
  font: $base-font 'Raleway', Helvetica, sans-serif;
  line-height: $base-lineheight;
}


.header,
.nav {
  text-transform: uppercase;
}

.header.plain {
  text-transform: none;
}

h1 {
  font-size: $medium-font;
  line-height: $medium-font;
  margin-bottom: floor(golden-ratio($base-margin, -1));
}

h2 {
  font-size: $base-font;
  line-height: $base-font;
  margin-bottom: floor(golden-ratio($base-margin, -1));
}

h3 {
  font-size: $base-font;
  line-height: $base-font;
  margin-bottom: floor(golden-ratio($base-margin, -1));
}


p {
  margin-bottom: $base-margin;
}

/* Larger screens get bigger fonts
*/
@media all and (min-width: 770px){
  h1 {
    font-size: $big-font;
    line-height: $big-font;
  }

  h2 {
    font-size: $medium-font;
    line-height: $medium-font;
  }
}

