/* Establishes the font faces in use for text and display.

<p>This will be in Montserrat.</p>

<h1 class="header">This will be in Josefin Sans.</h1>
*/

body {
  font: $base-font Montserrat, Helvetica, sans-serif;
  line-height: $base-lineheight;
}


.header,
.nav {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.header.plain {
  text-transform: none;
}

h1 {
  font-size: $medium-font;
  line-height: $medium-font;
  margin-bottom: floor(golden-ratio($base-margin, -1));
}

h2 {
  font-size: $base-font;
  line-height: $base-font;
  margin-bottom: floor(golden-ratio($base-margin, -1));
}

h3 {
  font-size: $base-font;
  line-height: $base-font;
  margin-bottom: floor(golden-ratio($base-margin, -1));
}


p {
  margin-bottom: $base-margin;
}

/* Larger screens get bigger fonts
*/
@media all and (min-width: 770px){
  h1 {
    font-size: $big-font;
    line-height: $big-font;
  }

  h2 {
    font-size: $medium-font;
    line-height: $medium-font;
  }
}