/* Sets up a grid layout. 
*/

.page {
  display: grid;
  grid-gap: 1em;
  padding: 2vh 2vw;
}
header {
  grid-row-start: 2;
}
nav {
  grid-column-start: 2;
  ul {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}

/* Portfolio page.
*/

.roles {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    margin-left: 0;
  }
}

/* 
@media all and (min-width:480px){
.wrapper.page {
    width: $max-width-medium;
  }
}

@media all and (min-width:481px){
  .wrapper.page {
    width: $max-width-tween;
  }
}

@media all and (min-width:769px){
  .wrapper.page {
    width: $max-width-large;
  }
}

*/