/* Sets up a flexbox layout. 
*/
.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}


.wrapper.page {
  justify-content: center;
  margin: 0 auto;
  padding: 2vh 2vw;
  width: $max-width;
}

/* Set page elements to 100% of viewport width.
*/
.footer,
.header,
.main,
.nav {
  flex: 1 100%;
}

/* Create blocks that evenly distribute along horizontal.
*/

.item {
  border: 1px solid blue;
  margin: 0;
  padding: 1.33rem;
  width: 100%;
}