/* Sets up a flexbox layout. 
*/
.wrapper {
  box-sizing: border-box;
  display: flex;
  flex: 1 100%;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}


.wrapper.page {
  justify-content: center;
  margin: 0 auto;
  padding: 2vh 2vw;
  width: $max-width-default;
}

/* Flexbox layout.
   Set page elements to 100% of viewport width.
*/
.footer,
.header,
.main,
.nav {
  flex: 1 100%;
  flex-wrap: wrap;
}

/* Create blocks that evenly distribute along horizontal.
*/

.item {
  margin: 0;
  padding: 1.33rem;
  width: 100%;
}

.main {
  margin-top: 2rem;
}


.roles {
  list-style: none;
  padding: 0;
}

.roles li {
  display: inline-block;
  margin-left: 0;
}

@media all and (min-width:480px){
  .wrapper.page {
    width: $max-width-medium;
  }
}

@media all and (min-width:481px){
  .wrapper.page {
    width: $max-width-tween;
  }
}

@media all and (min-width:769px){
  .wrapper.page {
    width: $max-width-large;
  }
}

