/* Mobile-first navigation. Show "hamburger" icon by default.
*/
//noinspection ALL

.nav .icon {
  font-size: 3rem;
  line-height: 0.02rem;
  position: absolute;
  right: 4vw;
}

.nav .icon:before {
  content: '\2261';
  display: block;
}

.item {
  min-width: 1%;
  text-align: left;
  width: 90%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 1.33rem; 
  width: 1px;
  /*noinspection CssOverwrittenProperties,CssOverwrittenProperties,CssOverwrittenProperties,CssOverwrittenProperties*/
  transition: height 0.4s ease-in;
  transition: width 0.15s linear;
}

.nav .visually-hidden.show {
  clip: auto;
  height: auto;
  position: relative;
  width: 100%;
}

/* Larger screens will have the navigation at the top.
*/
@media all and (min-width: 769px){
  .item {
    display: inline-block;
    margin: 0 0.2vw 0 0;
    min-width: 2.25rem;
    text-align: center;
    width: auto;
  }

  .nav {
    margin-top: 0;
    position: relative;
  }
  
  .nav .icon,
  .nav .icon:before {
    display: none;
  }

  .nav .visually-hidden {
    clip: auto;
    height: auto;
    position: static;
    width: 100%;
  }

}
