
/* Colors and effects.
*/
a {
  transition: all 0.8s ease;
  text-shadow: $default-link-shadow;
}

/*noinspection CssOptimizeSimilarProperties,CssOptimizeSimilarProperties,CssOptimizeSimilarProperties,CssOptimizeSimilarProperties*/
body {
  /*noinspection CssOptimizeSimilarProperties*/
  background-color: $blue;
  color: $text-color;
}

a {
  color: $default-link;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $link-hover;
  text-shadow: $link-hover-shadow;
}

dd {
  margin-bottom: $base-margin * 3;
  margin-left: 0;
}

dd p {
  margin-top: 0;
}

.header {
  color: $white;
  text-shadow: $header-shadow;
}

.header.plain {
  text-shadow: none;
}

.main .header {
  color: $black;
}

.nav {
  background: transparent;
}

.nav .icon {
  color: $white;
}

/*noinspection CssOptimizeSimilarProperties,CssOptimizeSimilarProperties*/
.nav .item {
  border: 1px solid $gray;
}

.nav .item,
.nav .item a {
  color: $nav-link-color;
  text-shadow: $nav-link-shadow;
}

.nav .item:hover,
.nav .item a:hover {
  color: $nav-link-hover-text;
  text-shadow: $nav-link-hover-shadow;
}


/* Active states for navigation links.
*/
//noinspection ScssLintInspection,ScssLintInspection,ScssLintInspection,ScssLintInspection,ScssLintInspection,ScssLintInspection
.about-me a[href^="/about-me"],
.about-site a[href^="/about-site"],
.portfolio a[href^="/portfolio"] {
  color: $nav-link-hover-text;
  text-shadow: $nav-link-hover-shadow;
}

.about-me .item:nth-of-type(1),
.about-site .item:nth-of-type(2),
.portfolio .item:nth-of-type(2) {
  background-color: $nav-link-active-background;
}

/* styling Roles on Portfolio page.
*/
.roles li {
  background: lighten($blue, 20%);
  border: 1px solid $gray;
  border-radius: 0.25rem;
  color: $white;
  padding: 0.5rem;
}
// Noon

.noon {
  background: $background-noon;
  color: $color-noon;

 a {
  color: $link-noon;
  &:hover {
    color: $hover-noon;
  }
 }
 .header {
  text-shadow: 0 2px 2px $shadow-noon; 
 }
}
