/* Colors and effects.
*/

a {
  transition: all 0.8s ease;
  text-shadow: $default-link-shadow;
  color: $default-link;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-hover;
    text-shadow: $link-hover-shadow;
  }
}

body {
background: linear-gradient(to right, $living-coral 0%, $storm 44%, rgba(181,186,182,.25) 100%);
  color: $text-color;
}

dd {
  margin-bottom: #{$base-margin * 3};
  margin-left: 0;
  p {
    margin-top: 0;
  }
}

header {
  color: $white;
  text-shadow: $header-shadow;
}

main {
  header {
    color: $black;
    text-shadow: none;
  }
}

nav {
  background: transparent;
  .icon {
    color: $white;
  }
  .item {
    border: 1px solid $gray;
    &:hover {
      background: $nav-link-hover-background;
      color: $nav-link-hover-text;
    }
    &,
    & a {
      color: $nav-link-color;
      text-shadow: $nav-link-shadow;
    }
  }
}

/* Active states for navigation links.
*/

.about-me a[href^="/about-me"],
.about-site a[href^="/about-site"],
.portfolio a[href^="/portfolio"] {
  color: $nav-link-hover-text;
  text-shadow: $nav-link-hover-shadow;
}

.about-me .item:nth-of-type(1),
.about-site .item:nth-of-type(2),
.portfolio .item:nth-of-type(2) {
  background-color: $nav-link-active-background;
}

/* styling Roles on Portfolio page.
*/

.roles {
  li {
    background: lighten($blue, 35%);
    border: 1px solid $gray;
    border-radius: 0.25rem;
    color: darken($storm, 65%);
    padding: 0.5rem;
  }
}
