
/* Colors and effects.
*/
a {
  transition: all 0.8s ease;
  text-shadow: $default-link-shadow;
}

body {
  background: linear-gradient($black 20%, $white 20%, $white 80%);
  color:  $text-color;
}

a {
 color: $default-link;
 text-decoration: none;
}

a:hover, a:focus {
  color: $link-hover;
  text-shadow: $link-hover-shadow;
}

.header {
  color: $white;
  text-shadow: $header-shadow;
}

.main .header {
  color: $black;
}

.nav {
  background: $black;
}

.nav .icon {
  color: $white;
}

.nav .item {
  background: $red;
  border: 1px solid $gray;
}

.nav .item:hover{
  background: $nav-link-hover-background;
}

.nav .item a {
  color: $nav-link-color;
}

.nav .item a:hover {
  color: $nav-link-hover-text;
  text-shadow: $nav-link-hover-shadow;
}

@media all and (min-width: 481px){
  body {
    background: linear-gradient($black 25%, $white 25%, $white 50%);
    color:  $text-color;
  }
}

@media all and (min-width: 770px){
    body {
    background: linear-gradient($black 33%, $white 33%, $white 33%);
  }

  .nav .icon {
    color: $black;
  }
}
