$modular-scale-ratio: $perfect-fourth;
$modular-scale-base: 1.2em;

$white: #dcd8cf;
$black: #282827;
$gray: lighten($black, 70%);
$red: #e25d33;
$blue: #368;

$text-color: darken($black, 20%);
$default-link: $blue;
$default-link-shadow: 0 1px 0 rgba($white, 0.4);

$link-hover: rgba($text-color, 0.7);
$link-hover-shadow: 0 1px 0 rgba($gray, 0.7);

$nav-link-color: $white;
$nav-link-shadow: 0 1px 0 $black;
$nav-link-hover-background: lighten($red, 5%);
$nav-link-hover-text: $black;
$nav-link-hover-shadow: 0 1px 0 rgba($default-link, 0.6);
$nav-link-active-background: mix($red, $blue, 10%);

$header-color: $white;
$header-shadow: 0 1px 2px $red;

$header-height-default: 95px;
$header-height-ipad: 170px;
$header-height-largest: 200px;

$base-font: 1;
$big-font: modular-scale(3);
$medium-font: modular-scale(2);

$base-margin: 12;
$base-lineheight: modular-scale(2);

$max-width-default: em(300);
$max-width-medium: em(450);
$max-width-tween: em(670);
$max-width-large: em(800);
