@charset "utf-8";

/* Establishes the font faces in use for text and display.

<p>This will be in Montserrat.</p>

<h1 class="header">This will be in Josefin Sans.</h1>
*/

body { 
  font: 100%/1.5 Montserrat, Helvetica, sans-serif;
  }


.header {
  font-family: 'Josefin Sans', sans-serif;
}


/* typographic grid. Next we need to cre­ate a typo­graphic scale,
this is the hier­archy that will define the font-sizes for our
typo­graphic ele­ments. I like to use the fol­low­ing scale: 16, 18,
21, 24, 36, 48. Let’s write that up: */

h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: .5em;
}

h2 {
  font-size: 2.25em;
  line-height: 1.33em;
  margin-bottom: .67em;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

li, p {
  margin-bottom: 1.5em;
}

/* Sets up a flexbox layout. 
*/
.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}


.wrapper.page {
  border: 1px solid red;
  justify-content: center;
  margin: 0 auto;
  max-width: 80rem;
  padding: 2vh 2vw;
}

/* Set page elements to 100% of viewport width.
*/
.footer,
.header,
.main,
.nav {
  flex: 1 100%;
}

/* Create blocks that evenly distribute along horizontal.
*/

.item {
  background: magenta;
  border: 1px solid blue;
  height: 2.25rem;
  padding: 1.25rem;
  width: 100%;
}

/* Mobile-first navigation. Show "hamburger" icon by default.
*/

.nav .icon {
  font-size: 4rem;
  line-height: .02rem;
}

.nav .icon:before {
  content: "\2261";
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;  
}

.visually-hidden.show {
  height: auto;
  width: 100%;
}

/* Responsive display order.
*/

/* Larger screens will have the navigation at the top.
*/
@media all and (min-width: 769px){

  .item {
    margin: 0 0.2vw 0 0;
    min-width: 2.25rem;
    width: auto;
  }

  .nav .visually-hidden {
    height: auto;
    position: static;
    width: 100%;
  }

  .nav .icon:before {
    display: none;
  }
}
/* Utilities.
*/
.center {
  text-align: center;
}

.plain {
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}
footer { background: yellow;
}
