@charset "utf-8";

/* Establishes the font faces in use for text and display.

<p>This will be in Montserrat.</p>

<h1 class="header">This will be in Josefin Sans.</h1>
*/

body { 
  font: 100%/1.5 Montserrat, Helvetica, sans-serif;
  }


.header,
.nav {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.33rem;
  margin-bottom: .67rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}

li, p {
  margin-bottom: 1.5rem;
}

.main {
  margin-top: 1.5rem;
}
/* Sets up a flexbox layout. 
*/
.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}


.wrapper.page {
  border: 1px solid red;
  justify-content: center;
  margin: 0 auto;
  max-width: 80rem;
  padding: 2vh 2vw;
}

/* Set page elements to 100% of viewport width.
*/
.footer,
.header,
.main,
.nav {
  flex: 1 100%;
}

/* Create blocks that evenly distribute along horizontal.
*/

.item {
  border: 1px solid blue;
  margin: 0;
  padding: 1.33rem;
  width: 100%;
}

/* Mobile-first navigation. Show "hamburger" icon by default.
*/

.nav .icon {
  font-size: 4rem;
  line-height: .02rem;
}

.nav .icon:before {
  content: "\2261";
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 1.33rem; 
  width: 1px;
  transition: height 0.4s ease-in;
  transition: width 0.15s linear;
}

.nav .visually-hidden.show {
  background: yellow;
  clip: auto;
  height: auto;
  position: relative;
  width: 100%;
}

/* Larger screens will have the navigation at the top.
*/
@media all and (min-width: 769px){

  .item {
    margin: 0 0.2vw 0 0;
    min-width: 2.25rem;
    width: auto;
  }

  .nav {
    margin-bottom: 1vh;
    position: relative;
  }

 /* .nav .visually-hidden {
    height: auto;
    position: static;
    width: 100%;
  }*/
/*
  .nav .icon:before {
    display: none;
  }*/
}
/* Utilities.
*/
.center {
  text-align: center;
}

.plain {
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}
footer { background: yellow;
}
