@charset "utf-8";
@import "bourbon";
@import "neat";


body { 
  background: green;
  font-family: Montserrat, Helvetica, sans-serif;
  }

nav, footer { background: yellow;
  @include outer-container;
}

header, h1, dt {
  font-family: 'Josefin Sans';
} 