
      <h2>
          Melanie Archer 
      </h2>
      <p>I am a front-end developer (JavaScript, CSS) working on projects near Oakland, California, USA.</p>
      
          <ul>
            <li><a href="mailto:mejarc@gmail.com?subject=ping%20from%20twobanjos">Contact me</a></li>
      <li>
          <a href="//www.twitter.com/mejarc">
            Twitter
          </a>
        </li>
        <li>
          <a href="//www.linkedin.com/in/mejarc">
            LinkedIn 
          </a>
        </li>
      </ul>