
    <div class="vcard" id="hcard-Melanie-Archer">
      <h1>
        <span class="fn">
          Melanie Archer 
        </span>
      </h1>
      <p class="adr">I am a web developer (JavaScript, Ruby, Rails) working on projects near <span class="locality">Oakland</span>, <span class="region">California</span>, <span class="country-name">USA</span>.</p>
    </div>
      <p>Here's <a href="./portfolio">my portfolio</a> of some of the sites I've worked on.</p>
          <ul>
            <li><a href="//about.me/melanie.archer">Contact me</a></li>
      <li>
          <a href="//www.twitter.com/mejarc">
            Twitter
          </a>
        </li>
        <li>
          <a   href="//www.linkedin.com/in/mejarc">
            LinkedIn 
          </a>
        </li>
        <li>
          <a  href="//github.com/mejarc">
            GitHub
          </a>
        </li>
        <li><a href="https://drive.google.com/file/d/0B1dFkUVACjCpWkhkMTZZT0ZWdFk">R&eacute;sum&eacute; (PDF)</a></li>
      </ul>