
      <h2>
          M. Archer 
      </h2>
      <p>I am a front-end developer (JavaScript, CSS) working on projects near Oakland, California, USA.</p>
      
          <ul>
            <li><a href="mailto:mejarc@pm.me?subject=ping%20from%20twobanjos">Contact me</a></li>
     
        <li>
          <a href="//www.linkedin.com/in/mejarc">
            LinkedIn 
          </a>
        </li>
      </ul>