    <footer class="footer">
      <p>
      All content &copy;1998  &#8211; <%= footer_date %> <%= link_to 'Melanie Archer', 'mailto:mejarc@gmail.com?subject=ping%20from%20twobanjos' %>, unless otherwise indicated.
      </p>
    </footer>