    <footer class="footer">
      <p>
      All content &copy;1998  &#8211; <%= footer_date %><%= link_to 'Melanie Archer', 'http://about.me/melanie.archer' %>, unless otherwise indicated.
      </p>
    </footer>