    <nav role="navigation">
      <span aria-hidden="true" class="icon"></span>
      <ul class="wrapper plain visually-hidden" aria-hidden="true">
        <li><%= link_to 'About me', '/about-me/' %></li>
        <li><%= link_to 'About this web site', '/about-site/' %></li>
        <li><%= link_to 'Ping', 'mailto:mejarc@gmail.com?subject=ping%20from%20twobanjos' %></li>
      </ul>
    </nav>