    <nav>
      <ul>
        <li><%= link_to 'About me', '/about-me.html' %></li>
        <li><%= link_to 'Portfolio', '/portfolio.html' %></li>
        <li><%= link_to 'About this web site', '/about-site.html' %></li>
        <li><%= link_to 'Ping', 'http://about.me/melanie.archer' %></li>
      </ul>
    </nav>