    <nav class="nav" role="navigation">
      <span aria-hidden="true" class="icon"></span>
      <ul class="wrapper plain visually-hidden" aria-hidden="true">
        <li class="item"><%= link_to 'About me', '/about-me' %></li>
        <li class="item"><%= link_to 'Portfolio', '/portfolio' %></li>
        <li class="item"><%= link_to 'About this web site', '/about-site' %></li>
        <li class="item"><%= link_to 'Ping', 'http://about.me/melanie.archer' %></li>
      </ul>
    </nav>